# Системные папки JetBrains
.idea/
.project
.settings/

.srv/
wp-admin/
wp-includes/
my-plugins/
*history*
.env
**/vendor/
/wp-content/blogs.dir
/wp-content/upgrade
/wp-content/uploads

/wp-content/plugins/*
!/wp-content/plugins/sims4-auto-importer/
!/wp-content/plugins/sims4-auto-importer/**
!/wp-content/plugins/sims4-auto-importer/sims4-auto-importer.php
/wp-content/plugins/sims4-auto-importer/tasks/
/wp-content/plugins/sims4-auto-importer/config.php

/wp-content/languages
/wp-content/themes/*/
!/wp-content/themes/sims4catalog/

.DS_Store
Thumbs.db
*:Zone.Identifier