# Системные папки JetBrains
.idea/
.project
.settings/

.srv/
wp-admin/
wp-includes/
my-plugins/
plugins/
*history*
.env
**/vendor/
/wp-content/blogs.dir
/wp-content/upgrade
/wp-content/uploads
/wp-content/plugins
/wp-content/languages
/wp-content/themes/*/
!/wp-content/themes/sims4catalog/

.DS_Store
Thumbs.db
*:Zone.Identifier